@use '@/styles/variables';

.footer {
    display: flex;
    justify-content: center;

    margin-top: 10rem;
    padding-bottom: 3rem;

    .copyright {
        color: variables.$color-text-muted;
    }
}
