@use 'sass:map';
@use 'variables';

$breakpoints: (
    'sm': variables.$break-sm,
    'md': variables.$break-md,
    'lg': variables.$break-lg,
);

@mixin respond-to($breakpoint) {
    @if map.has-key($breakpoints, $breakpoint) {
        @media (min-width: map.get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @media (min-width: $breakpoint) {
            @content;
        }
    }
}
