// Breakpoints
$break-sm: 600px;
$break-md: 900px;
$break-lg: 1200px;

// Colors
$color-primary: #00f2ff;
$color-secondary: #7000ff;
$color-bg-deep: #12152f;
$color-bg-card: #161b22;
$color-text-main: #f0f6fc;
$color-text-muted: #8b949e;

// Shadows
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
