@mixin dot($x1, $y1, $x2, $y2, $startColor, $endColor, $start, $end) {
    position: absolute;

    left: $x1;
    bottom: $y1;

    width: 8px;
    height: 8px;

    background-color: #124946;
    border-radius: 50%;

    opacity: 0;

    animation: dot-move-#{$x1}-#{$y1} 10s linear infinite;

    @keyframes dot-move-#{$x1}-#{$y1} {
        #{$start - 1} {
            opacity: 0;
        }
        #{$start} {
            opacity: 1;
            transform: translate(0, 0);
            background-color: $startColor;
        }
        #{$end} {
            opacity: 1;
            transform: translate($x2 - $x1, $y1 - $y2);
            background-color: $endColor;
        }
        #{$end + 1} {
            opacity: 0;
        }
    }
}
