@use '@/styles/mixins';
@use '@/styles/variables';

.layout {
    width: 100%;
    height: 100%;

    background-color: variables.$color-bg-deep;
    color: variables.$color-text-main;

    .container {
        display: flex;
        flex-direction: column;

        height: 100%;
        width: 100%;

        margin: 0 auto;

        @include mixins.respond-to(lg) {
            width: variables.$break-lg;
            padding: 0 2rem;
        }

        .content {
            flex: 1;
        }
    }
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20vh 0 40vh;
}
