name: Run checks

on:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  TURBO_TELEMETRY_DISABLED: "1"

jobs:
  lint:
    runs-on: ubuntu-latest

    concurrency:
      group: lint
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Cache turbo build setup
        uses: actions/cache@v5.0.1
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Setup Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        run: yarn install

      - name: Run lint
        run: yarn lint

  check-types:
    runs-on: ubuntu-latest

    concurrency:
      group: check-types
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Cache turbo build setup
        uses: actions/cache@v5.0.1
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Setup Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        run: yarn install

      - name: Run check-types
        run: yarn check-types

  check-docker:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target:
          - landing-page
          - portal

    concurrency:
      group: check-docker-${{ matrix.target }}
      cancel-in-progress: true

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0

      - name: Validate build configuration
        uses: docker/build-push-action@v6.18.0
        with:
          call: check
          context: .
          file: apps/${{ matrix.target }}/Dockerfile
